@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Fira Sans", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;

  --text-xs: 0.625rem;
  --text-sm: 0.75rem;
  --text-base: 0.875rem;
  --text-lg: 1rem;
  --text-xl: 1.125rem;
  --text-2xl: 1.25rem;
  --text-3xl: 1.5rem;
  --text-4xl: 1.875rem;
  --text-5xl: 2.25rem;
  --text-6xl: 3rem;
  --text-7xl: 3.75rem;
  --text-8xl: 4.5rem;
  --text-9xl: 6rem;

  --animate-blink: blink 1s step-start infinite;

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}

@layer base {
  html {
    @apply font-mono text-base;
  }

  body {
    @apply h-dvh w-dvw overflow-x-hidden bg-neutral-900 text-neutral-50;
  }

  #app {
    @apply h-full w-full;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }

  p {
    @apply text-base text-neutral-500;
  }

  pre {
    @apply text-base;
  }

  small {
    @apply text-sm;
  }
}

@layer components {
  .card {
    @apply flex h-full flex-col gap-4 border border-neutral-500 bg-neutral-800 p-4 transition-transform hover:border-neutral-300 motion-safe:hover:-translate-y-2;
  }

  .grid-auto-fit-sm {
    @apply grid grid-cols-[repeat(auto-fit,minmax(200px,1fr))] gap-4;
  }

  .grid-auto-fit-md {
    @apply grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-4;
  }
}
